@font-face {
  font-family: 'hue';
  src:  url('../fonts/hue.eot?il1n2u');
  src:  url('../fonts/hue.eot?il1n2u#iefix') format('embedded-opentype'),
    url('../fonts/hue.ttf?il1n2u') format('truetype'),
    url('../fonts/hue.woff?il1n2u') format('woff'),
    url('../fonts/hue.svg?il1n2u#hue') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="hue-"], [class*=" hue-"] {
  /* use !important to prevent issues with browser extensions that change ../fonts */
  font-family: 'hue' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hue-circle-o:before {
  content: "\f10c";
}
.hue-circle:before {
  content: "\f111";
}
.hue-check:before {
  content: "\f00c";
}
.hue-close:before {
  content: "\f00d";
}
.hue-remove:before {
  content: "\f00d";
}
.hue-times:before {
  content: "\f00d";
}
.hue-up:before {
  content: "\f077";
}
.hue-down:before {
  content: "\f078";
}
.hue-off:before {
  content: "\f204";
}
.hue-on:before {
  content: "\f205";
}
.hue-yes:before {
  content: "\f234";
}
.hue-no:before {
  content: "\f235";
}
.hue-filter_1:before {
  content: "\e3d0";
}
.hue-filter_2:before {
  content: "\e3d1";
}
.hue-filter_3:before {
  content: "\e3d2";
}
.hue-filter_4:before {
  content: "\e3d4";
}
.hue-pushlink_BSB002:before {
  content: "\e94e";
}
.hue-bathroom:before {
  content: "\e947";
}
.hue-dining:before {
  content: "\e948";
}
.hue-garden:before {
  content: "\e949";
}
.hue-hallway:before {
  content: "\e94a";
}
.hue-nursery:before {
  content: "\e94b";
}
.hue-office:before {
  content: "\e94c";
}
.hue-toilet:before {
  content: "\e94d";
}
.hue-bedroom:before {
  content: "\e900";
}
.hue-BSB001:before {
  content: "\e901";
}
.hue-BSB002:before {
  content: "\e902";
}
.hue-carport:before {
  content: "\e903";
}
.hue-driveway:before {
  content: "\e904";
}
.hue-frontdoor:before {
  content: "\e905";
}
.hue-garage:before {
  content: "\e906";
}
.hue-gym:before {
  content: "\e907";
}
.hue-HBL003:before {
  content: "\e908";
}
.hue-HEL001:before {
  content: "\e909";
}
.hue-HEL002:before {
  content: "\e90a";
}
.hue-HIL001:before {
  content: "\e90b";
}
.hue-HIL002:before {
  content: "\e90c";
}
.hue-HML001:before {
  content: "\e90d";
}
.hue-HML002:before {
  content: "\e90e";
}
.hue-HML003:before {
  content: "\e90f";
}
.hue-HML004:before {
  content: "\e910";
}
.hue-HML005:before {
  content: "\e911";
}
.hue-HML006:before {
  content: "\e912";
}
.hue-house:before {
  content: "\e913";
}
.hue-kids_bedroom:before {
  content: "\e914";
}
.hue-kitchen:before {
  content: "\e915";
}
.hue-LCT001:before {
  content: "\e916";
}
.hue-LCT002:before {
  content: "\e917";
}
.hue-LCT003:before {
  content: "\e918";
}
.hue-LCT007:before {
  content: "\e919";
}
.hue-LCT010:before {
  content: "\e91a";
}
.hue-LCT011:before {
  content: "\e91b";
}
.hue-LCT014:before {
  content: "\e91c";
}
.hue-LDD001:before {
  content: "\e91d";
}
.hue-LDD002:before {
  content: "\e91e";
}
.hue-LDF001:before {
  content: "\e91f";
}
.hue-LDF002:before {
  content: "\e920";
}
.hue-LDT001:before {
  content: "\e921";
}
.hue-living:before {
  content: "\e922";
}
.hue-LLC006:before {
  content: "\e923";
}
.hue-LLC007:before {
  content: "\e924";
}
.hue-LLC010:before {
  content: "\e925";
}
.hue-LLC011:before {
  content: "\e926";
}
.hue-LLC012:before {
  content: "\e927";
}
.hue-LLC013:before {
  content: "\e928";
}
.hue-LLC020:before {
  content: "\e929";
}
.hue-LST001:before {
  content: "\e92a";
}
.hue-LST002:before {
  content: "\e92b";
}
.hue-LTC001:before {
  content: "\e92c";
}
.hue-LTC002:before {
  content: "\e92d";
}
.hue-LTC003:before {
  content: "\e92e";
}
.hue-LTD001:before {
  content: "\e92f";
}
.hue-LTD002:before {
  content: "\e930";
}
.hue-LTD003:before {
  content: "\e931";
}
.hue-LTF001:before {
  content: "\e932";
}
.hue-LTF002:before {
  content: "\e933";
}
.hue-LTP001:before {
  content: "\e934";
}
.hue-LTP002:before {
  content: "\e935";
}
.hue-LTP003:before {
  content: "\e936";
}
.hue-LTW001:before {
  content: "\e937";
}
.hue-LTW004:before {
  content: "\e938";
}
.hue-LTW010:before {
  content: "\e939";
}
.hue-LTW015:before {
  content: "\e93a";
}
.hue-LWB004:before {
  content: "\e93b";
}
.hue-LWB006:before {
  content: "\e93c";
}
.hue-LWB010:before {
  content: "\e93d";
}
.hue-LWB014:before {
  content: "\e93e";
}
.hue-MWM001:before {
  content: "\e93f";
}
.hue-other:before {
  content: "\e940";
}
.hue-pushlink_BSB001:before {
  content: "\e941";
}
.hue-recreation:before {
  content: "\e942";
}
.hue-RWL021:before {
  content: "\e943";
}
.hue-PHWA01:before {
  content: "\e943";
}
.hue-SML001:before {
  content: "\e944";
}
.hue-PHA_STATE:before {
  content: "\e944";
}
.hue-ZGPSWITCH:before {
  content: "\e945";
}
.hue-terrace:before {
  content: "\e946";
}


