* {
	box-sizing: border-box;
}
body {
	font-family: 'Lato';
	font-weight: 400;
	width: 800px;
	height: 480px;
	overflow: hidden;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: all linear 30s;
	-moz-transition: all linear 30s;
	transition: all linear 30s;
}
h1, h2, h3, h4, h5, h6, p, dl, dl dt, dl dd {
	font-family: 'Lato';
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6, dl dt, dl dd {
	font-weight: 900;
}
body.day {
	background: #fff !important;
	color: #111 !important;
}
body.night {
	background: #000 !important;
	color: #660000 !important;
}
.columns {
	text-align: center;
}
.progress {
	margin: 0.5em 0;
	height: 1.5em;
	max-width: 100%;
}
.night .progress {
	background: #333;
}
.progress-meter-text {
	font-size: 1em;
}
.night .progress-meter-text {
	color: #111;
}
 .progress.alert .progress-meter {
	max-width: 370px !important;
}
.night .progress.alert .progress-meter {
	background: #660000;
}
h1#time {
	font-size: 8rem;
	font-weight: 900;
	margin: 0;
	line-height: 1;
}
h1#time span {
	font-size: 1.5rem;
	font-weight: 900;
	display: block;
}
dl {
	font-size: 1.1rem;
}
dl dt {
	margin: 0;
}
dl dd {
	font-size: 1rem;
	line-height: 1.4;
}
#weather {
	margin-bottom: 0;
	margin-top: 0.8em;
}
#tado {
	margin-bottom: 0;
}
#hue {
}
#hue img {
	width: 16px;
	vertical-align: baseline;
}
.button.off {
	background-color:#c60f13;
	color:#fefefe;
}
.button.on {
	background-color:#5da423;
	color:#0a0a0a;
}
.day .button {
	color: #fff !important;
}
.night .button {
	background: transparent;
}
.night .button.off {
	color: #660000;
	border-color: #660000;
}
.night .button.on {
	color: #005200;
	border-color: #005200;
}